/*
CUSTOM STYLE
*/

@import url(https://fonts.googleapis.com/css?family=Raleway);

body {
  background: #f9f9f9;
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
}

.main-content.col {
  padding: 0;
}

.navbar {
  z-index: 100;
}

.banner {
  width: 100%;
  height: 400px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}

.footer {
  width: 100%;
  height: 200px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  display: flex;
  justify-content: center;
  align-items: center;

  .contact {
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(4px);

    p {
      color: white;
      text-align: center;
    }
  }
}

.view-liste-pizzas {
  padding: 0 15px;

  .view-header {
    .block-facet-blockbase-pizza {
      max-width: 1275px;
      margin: 50px auto auto;

      .facets-widget-links {
        ul {
          list-style: none;
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          margin-block-start: 0 !important;
          margin-block-end: 0 !important;
          padding-inline-start: 0 !important;

          li {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 135px;
            height: 50px;
            border-radius: 5px;
            background-color: rgba(0,0,0,.9);
            margin-right: 10px;
            margin-bottom: 10px;
            cursor: pointer;
            transition: 0.5s ease-in;

            &:hover {
              background: linear-gradient(
                  45deg,
                  rgba(29, 236, 197, 0.5),
                  rgba(91, 14, 214, 0.5) 100%
              );

              a {
                color: black;
              }
            }

            &.is-active {
              background: linear-gradient(
                  45deg,
                  rgba(29, 236, 197, 0.5),
                  rgba(91, 14, 214, 0.5) 100%
              );
            }

            a {
              display: flex;
              justify-content: center;
              align-items: center;
              width: 150px;
              height: 50px;
              border-radius: 5px;
              color: white;

              &:hover {
                text-decoration: none;
              }
            }

            a.is-active {
              span.facet-item__status {
                display: none;
              }
            }
          }
        }
      }
    }
  }

  .view-content {
    justify-content: center;
    max-width: 1440px;
    margin: auto;

    .views-row {
      margin: 20px;
    }
  }

  article.node--view-mode-teaser {
    border: none;
    padding: 0;
    margin: 0;

    .card {
      cursor: pointer;

      .content-details {
        background: linear-gradient(
            45deg,
            rgba(29, 236, 197, 0.5),
            rgba(91, 14, 214, 0.5) 100%
        );
        backdrop-filter: blur(4px);
        transition: .4s ease-in;
        opacity: 0;
        position: absolute;
        text-align: center;
        color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;
        padding: 5px;
      }

      &:hover .content-details {
        opacity: 1;
      }
    }
  }
}

